Repository AkaakuHub/twix-saver: changes, and which lefthook commands are due for each by the changed paths.
All: type-sync, frontend-format, frontend-lint, ts-check

type-sync:
  run: 'echo "ğŸ”„ Pydanticãƒ¢ãƒ‡ãƒ«å¤‰æ›´æ¤œçŸ¥ - TypeScriptå‹å®šç¾©è‡ªå‹•ç”Ÿæˆä¸­..."
  
    cd backend && python3 scripts/simple-generate.py
  
    git add frontend/src/types/api.ts
  
    echo "âœ… TypeScriptå‹å®šç¾©ã‚’æ›´æ–°ã—ã¦ã‚³ãƒŸãƒƒãƒˆã«è¿½åŠ "
  
    '

frontend-format:
  run: pnpm run format
  stage_fixed: true

frontend-lint:
  run: pnpm run lint:fix
  stage_fixed: true

ts-check:
  run: pnpm run type-check

fix: push
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/jobs/JobForm.tsx
  frontend/src/components/settings/Settings.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/services/api.ts
  frontend/src/vite-env.d.ts
Due: frontend-format, frontend-lint, ts-check

fix: jobまわり
  backend/main.py
  backend/src/web/models.py
  backend/src/web/routers/jobs.py
  frontend/src/App.tsx
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/jobs/JobForm.tsx
  frontend/src/components/jobs/JobResultModal.tsx
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/types/api.generated.ts
  frontend/src/types/api.ts
Due: type-sync, frontend-format, frontend-lint, ts-check

fix: WebSocket廃止とジョブ停止機能追加
  backend/main.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/services/job_service.py
  backend/src/web/routers/jobs.py
Due: none

fix: DB連携アカウント設定への移行とログ強化
  backend/main.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/web/routers/jobs.py
Due: none

fix: job run ui
  backend/main.py
  backend/src/models/database.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/services/job_service.py
  backend/src/utils/data_manager.py
  backend/src/web/routers/jobs.py
  backend/src/web/routers/users.py
  frontend/src/components/jobs/JobForm.tsx
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/ui/ConnectionErrorModal.tsx
  frontend/src/components/ui/ConnectionStatus.tsx
  frontend/src/components/ui/ErrorModal.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/users/UserCard.tsx
  frontend/src/components/users/UserList.tsx
  frontend/src/hooks/useJobs.ts
Due: frontend-format, frontend-lint, ts-check

fix: ちらちら
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-format, frontend-lint, ts-check

fix: scraper
  backend/main.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/web/routers/jobs.py
Due: none

fix: DB保存
  backend/main.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/utils/data_manager.py
  backend/src/web/routers/tweets.py
  frontend/src/hooks/useTweets.ts
Due: frontend-format, frontend-lint, ts-check

fix: 画像の分類表示
  backend/src/services/job_service.py
  backend/src/utils/data_manager.py
  backend/src/utils/media_processor.py
  backend/src/web/app.py
  backend/src/web/routers/jobs.py
  backend/src/web/routers/media.py
  backend/src/web/routers/tweets.py
  frontend/src/components/jobs/JobResultModal.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/hooks/useTweets.ts
  frontend/src/types/api.generated.ts
  frontend/src/types/api.ts
Due: frontend-format, frontend-lint, ts-check

fix: 不要な管理モード
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
Due: frontend-format, frontend-lint, ts-check

feat: 画像をモーダルで表示
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/ui/ImageModal.tsx
Due: frontend-format, frontend-lint, ts-check

feat: ポートを一元管理
  .env.example
  backend/src/config/ports.py
  backend/src/web/app.py
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/charts/JobSuccessRateChart.tsx
  frontend/src/components/dashboard/charts/TweetsTimeChart.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/config/env.ts
  frontend/src/hooks/useJobs.ts
  frontend/src/hooks/useTweets.ts
  frontend/src/hooks/useUsers.ts
  frontend/src/services/api.ts
  frontend/vite.config.ts
  package.json
  scripts/start-backend.js
Due: frontend-format, frontend-lint, ts-check

feat: バックエンドのCORS修正
  backend/src/config/ports.py
  backend/src/web/app.py
  package.json
  scripts/sync-port-config.js
Due: none

fix: 特定のツイートだけを更新
  backend/main.py
  backend/src/models/database.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/services/job_service.py
  backend/src/web/routers/tweets.py
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
  frontend/src/hooks/useTweets.ts
Due: frontend-format, frontend-lint, ts-check

feat: 画像を実体で保存
  .gitignore
  backend/src/config/settings.py
  backend/src/utils/media_processor.py
  backend/src/web/routers/media.py
  backend/src/web/routers/tweets.py
  docker-compose.yml
Due: none

・ツイート一覧で、標準では新しいものが上に来るようにソート ・ツイート時刻などすべてJSTで表示、とくにツイート時刻は年月日時分秒ミリ秒 ・ジョブ管理で、ログはリアルタイム成功しているが、モーダルではなく本のページでも、statusをリアルタイムで更新する
  backend/src/web/routers/tweets.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/jobs/JobResultModal.tsx
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
  frontend/src/components/users/UserCard.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/hooks/useTweets.ts
  frontend/src/utils/dateFormat.ts
Due: frontend-format, frontend-lint, ts-check

feat: レガシーを削除して整備
  backend/src/utils/media_processor.py
  backend/src/web/routers/tweets.py
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/hooks/useTweets.ts
  frontend/src/types/api.generated.ts
  frontend/src/types/api.ts
  frontend/src/utils/dateFormat.ts
Due: frontend-format, frontend-lint, ts-check

feat: パフォーマンス改善1
  backend/src/web/routers/media.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/charts/JobSuccessRateChart.tsx
  frontend/src/components/dashboard/charts/TweetsTimeChart.tsx
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
  frontend/src/components/users/UserList.tsx
  frontend/src/hooks/useDebounceCallback.ts
Due: frontend-format, frontend-lint, ts-check

feat: バックエンドの整備
  backend/pyproject.toml
  backend/requirements.txt
  lefthook.yml
  package.json
Due: none

feat: pythonのフォーマット
  backend/main.py
  backend/pyproject.toml
  backend/scripts/check-type-sync.py
  backend/scripts/generate-types.py
  backend/scripts/simple-generate.py
  backend/scripts/watch-models.py
  backend/src/config/ports.py
  backend/src/config/settings.py
  backend/src/models/database.py
  backend/src/scrapers/twitter_scraper.py
  backend/src/services/account_service.py
  backend/src/services/config_service.py
  backend/src/services/job_service.py
  backend/src/services/user_service.py
  backend/src/utils/anti_detection.py
  backend/src/utils/article_extractor.py
  backend/src/utils/data_manager.py
  backend/src/utils/encryption.py
  backend/src/utils/logger.py
  backend/src/utils/media_processor.py
  backend/src/web/app.py
  backend/src/web/models.py
  backend/src/web/routers/accounts.py
  backend/src/web/routers/jobs.py
  backend/src/web/routers/media.py
  backend/src/web/routers/settings.py
  backend/src/web/routers/tweets.py
  backend/src/web/routers/users.py
  frontend/src/types/api.generated.ts
  frontend/src/types/api.ts
Due: type-sync, frontend-format, frontend-lint, ts-check

fix: メトリクス
  backend/src/services/job_service.py
  backend/src/web/app.py
  backend/src/web/routers/tweets.py
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/dashboard/charts/JobSuccessRateChart.tsx
  frontend/src/hooks/useJobs.ts
Due: frontend-format, frontend-lint, ts-check

fix: 使われていないCORSの設定を削除
  backend/src/models/database.py
  backend/src/services/config_service.py
  backend/src/web/routers/settings.py
  frontend/src/components/settings/Settings.tsx
  frontend/src/types/settings.ts
Due: frontend-format, frontend-lint, ts-check

fix: 設定値の不一致
  backend/src/web/routers/settings.py
  frontend/src/components/settings/Settings.tsx
  frontend/src/types/settings.ts
Due: frontend-format, frontend-lint, ts-check

fix: inactiveなアカウントも表示
  frontend/src/components/settings/Settings.tsx
Due: frontend-format, frontend-lint, ts-check

feat: 成功失敗を記録
  backend/src/services/job_service.py
Due: none

format: job_service.pyをフォーマット
  backend/src/services/job_service.py
Due: none

fix: python依存関係
  backend/requirements.txt
  backend/src/services/job_service.py
Due: none

feat: 定期実行の再整備
  backend/main.py
  backend/src/models/database.py
  backend/src/services/config_service.py
  backend/src/services/user_service.py
  backend/src/web/models.py
  backend/src/web/routers/users.py
  backend/systemd/twix-scraper.timer
  frontend/src/components/settings/Settings.tsx
  frontend/src/components/users/UserCard.tsx
  frontend/src/components/users/UserForm.tsx
  frontend/src/types/api.generated.ts
  frontend/src/types/api.ts
  frontend/src/types/settings.ts
Due: type-sync, frontend-format, frontend-lint, ts-check

feat: 画像をバッチ処理
  backend/src/models/image_processing.py
  backend/src/utils/batch_processor.py
  backend/src/utils/data_manager.py
  backend/src/web/app.py
  backend/src/web/routers/image_processing.py
  backend/src/web/routers/tweets.py
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/components/image-processing/ImageProcessingManager.tsx
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/components/tweets/TweetList.tsx
  frontend/src/hooks/useImageProcessing.ts
  frontend/src/hooks/useTweets.ts
  frontend/src/types/api.ts
Due: frontend-format, frontend-lint, ts-check

fix: 画像処理関連の型定義を修正
  frontend/src/components/image-processing/ImageProcessingManager.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/types/api.ts
Due: frontend-format, frontend-lint, ts-check

fix: 画像処理関連の型定義を再追加
  frontend/src/components/image-processing/ImageProcessingManager.tsx
  frontend/src/components/tweets/TweetCard.tsx
Due: frontend-format, frontend-lint, ts-check

fix: 画像処理関連の型定義をapi-customに移動
  frontend/src/components/image-processing/ImageProcessingManager.tsx
  frontend/src/components/tweets/TweetCard.tsx
  frontend/src/hooks/useImageProcessing.ts
  frontend/src/types/api-custom.ts
  frontend/src/types/api.ts
Due: frontend-format, frontend-lint, ts-check

fix: メトリクス
  backend/src/utils/media_processor.py
  frontend/src/components/dashboard/Dashboard.tsx
  frontend/src/hooks/useImageProcessing.ts
Due: frontend-format, frontend-lint, ts-check

feat: devスケジューリング
  backend/src/services/job_service.py
  frontend/src/utils/dateFormat.ts
  package.json
  scripts/dev-scheduler.js
Due: frontend-format, frontend-lint, ts-check

fix: 抽出エラー
  backend/src/scrapers/twitter_scraper.py
  backend/src/utils/article_extractor.py
  backend/src/utils/media_processor.py
  package.json
  pnpm-workspace.yaml
Due: none

feat: 既存の画像はスキップ
  backend/src/utils/batch_processor.py
  backend/src/utils/data_manager.py
  frontend/src/hooks/useJobs.ts
Due: frontend-format, frontend-lint, ts-check

fix: UI jobの状態更新
  frontend/src/components/jobs/JobsList.tsx
  frontend/src/hooks/useJobs.ts
Due: frontend-format, frontend-lint, ts-check

Path conditions:
  type-sync: any of: backend/src/web/models.py
  frontend-format: any of: **/*.{ts,tsx,json} and ^frontend/
  frontend-lint: any of: **/*.{ts,tsx} and ^frontend/
  ts-check: any of: **/*.{ts,tsx} and ^frontend/
